body {
    margin: 0;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 20px;  
}

.block {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;  
}

header {
    background-color: orangered;
    flex-basis: 100%;
}

.block #left {
    background-color: green;
    flex-basis: 25%;
}

section {
    background-color: #47d7ff;
    flex-basis: 50%;
}

.block #right {
    background-color: pink;
    flex-basis: 25%;
}

footer {
    background-color: #a779ce;
    flex-basis: 100%;
}